In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("Students Record.csv")
df

                                       Student Record
0                            Student Name: John Smith
1                                          Title: Mr.
2    Highest Education: Bachelor of Arts in Economics
3                                     GMAT Score: 720
4                                    IELTS Score: 7.0
..                                                 ...
301                                        Title: Ms.
302  Highest Education: Bachelor of Business Admini...
303                                   GMAT Score: 700
304                                  IELTS Score: 7.5
305              Previous University: College of HIJK

[306 rows x 1 columns]

In [6]:
import pandas as pd
from io import StringIO

# Your data as a string
data = """
Student Record 
Student Name: John Smith 
Title: Mr. 
Highest Education: Bachelor of Arts in Economics 
GMAT Score: 720 
IELTS Score: 7.0 
Previous University: University of ABC 
Student Name: Sarah Adams 
Title: Ms. 
Highest Education: Bachelor of Science in Chemistry 
GMAT Score: 650 
IELTS Score: 7.5 
Previous University: State College 
Student Name: David Lee 
Title: Mr. 
Highest Education: Bachelor of Engineering in Mechanical Engineering 
GMAT Score: 700 
IELTS Score: 7.0 
Previous University: University of DEF 
"""

# Create a DataFrame
df = pd.read_csv(StringIO(data), sep=":", header=None)

# Clean up the DataFrame
df[0] = df[0].str.strip()
df[1] = df[1].str.strip()
df = df[df[0] != ""]

# Pivot the DataFrame to get the desired format
df = df.pivot(columns=0, values=1).fillna(method='ffill')

# Rename the index
df.index = range(1, len(df) + 1)

# Rename columns for clarity
df.columns.name = None

# Display the DataFrame
print(df)

ParserError: Error tokenizing data. C error: Expected 1 fields in line 3, saw 2

In [7]:
import pandas as pd
from io import StringIO

# Your data as a string
data = """
Student Name: John Smith
Title: Mr.
Highest Education: Bachelor of Arts in Economics
GMAT Score: 720
IELTS Score: 7.0
Previous University: University of ABC

Student Name: Sarah Adams
Title: Ms.
Highest Education: Bachelor of Science in Chemistry
GMAT Score: 650
IELTS Score: 7.5
Previous University: State College

Student Name: David Lee
Title: Mr.
Highest Education: Bachelor of Engineering in Mechanical Engineering
GMAT Score: 700
IELTS Score: 7.0
Previous University: University of DEF
"""

# Split the data into lines
lines = data.strip().split('\n')

# Create a list of dictionaries
data_dict_list = []
current_data = {}

for line in lines:
    key, value = [part.strip() for part in line.split(':', 1)]
    if key == "Student Name":
        if current_data:
            data_dict_list.append(current_data)
        current_data = {}
    current_data[key] = value

# Create a DataFrame
df = pd.DataFrame(data_dict_list)

# Display the DataFrame
print(df)

ValueError: not enough values to unpack (expected 2, got 1)

In [9]:
import pandas as pd
from io import StringIO

# Your data as a string
data = """
Student Name: John Smith
Title: Mr.
Highest Education: Bachelor of Arts in Economics
GMAT Score: 720
IELTS Score: 7.0
Previous University: University of ABC

Student Name: Sarah Adams
Title: Ms.
Highest Education: Bachelor of Science in Chemistry
GMAT Score: 650
IELTS Score: 7.5
Previous University: State College

Student Name: David Lee
Title: Mr.
Highest Education: Bachelor of Engineering in Mechanical Engineering
GMAT Score: 700
IELTS Score: 7.0
Previous University: University of DEF
"""

# Split the data into lines
lines = data.strip().split('\n')

# Create a list of dictionaries
data_dict_list = []
current_data = {}

for line in lines:
    parts = [part.strip() for part in line.split(':', 1)]
    if len(parts) == 2:
        key, value = parts
        current_data[key] = value
    elif len(parts) == 1 and current_data:
        data_dict_list.append(current_data)
        current_data = {}
        
# Append the last set of data
if current_data:
    data_dict_list.append(current_data)

# Create a DataFrame
df = pd.DataFrame(data_dict_list)

# Display the DataFrame
df

,Student Name,Title,Highest Education,GMAT Score,IELTS Score,Previous University
0,John Smith,Mr.,Bachelor of Arts in Economics,720,7.0,University of ABC
1,Sarah Adams,Ms.,Bachelor of Science in Chemistry,650,7.5,State College
2,David Lee,Mr.,Bachelor of Engineering in Mechanical Engineering,700,7.0,University of DEF

In [11]:
lines = data.strip().split('\n')
lines

['Student Name: John Smith',
 'Title: Mr.',
 'Highest Education: Bachelor of Arts in Economics',
 'GMAT Score: 720',
 'IELTS Score: 7.0',
 'Previous University: University of ABC',
 '',
 'Student Name: Sarah Adams',
 'Title: Ms.',
 'Highest Education: Bachelor of Science in Chemistry',
 'GMAT Score: 650',
 'IELTS Score: 7.5',
 'Previous University: State College',
 '',
 'Student Name: David Lee',
 'Title: Mr.',
 'Highest Education: Bachelor of Engineering in Mechanical Engineering',
 'GMAT Score: 700',
 'IELTS Score: 7.0',
 'Previous University: University of DEF']

In [15]:
# Split the data into lines
lines = data.strip().split('\n')

# Initialize variables
data_dict_list = []  # List to store student data dictionaries
current_data = {}    # Dictionary to store data for the current student

# Process each line
for line in lines:
    # Split the line into two parts using ':' as the delimiter
    split_result = line.split(':', 1)

    # Initialize an empty list to store the stripped parts
    stripped_parts = []

    # Iterate over the split_result and strip each part
    for part in split_result:
        stripped_part = part.strip()
        stripped_parts.append(stripped_part)

    # Assign the result to the 'parts' variable
    parts = stripped_parts

    # Check if the line contains both key and value
    if len(parts) == 2:
        key, value = parts
        current_data[key] = value
    
    # Check if it's a new student section
    elif len(parts) == 1 and current_data:
        data_dict_list.append(current_data)
        current_data = {}

# Append the last set of data if it exists
if current_data:
    data_dict_list.append(current_data)

# Create a DataFrame from the list of dictionaries
df = pd.DataFrame(data_dict_list)

# Display the DataFrame
df

,Student Name,Title,Highest Education,GMAT Score,IELTS Score,Previous University
0,John Smith,Mr.,Bachelor of Arts in Economics,720,7.0,University of ABC
1,Sarah Adams,Ms.,Bachelor of Science in Chemistry,650,7.5,State College
2,David Lee,Mr.,Bachelor of Engineering in Mechanical Engineering,700,7.0,University of DEF

In [17]:
# Process each line
for line in lines:
    # Split the line into two parts using ':' as the delimiter
    split_result = line.split(':', 1)
    print(split_result)

['Student Name', ' John Smith']
['Title', ' Mr.']
['Highest Education', ' Bachelor of Arts in Economics']
['GMAT Score', ' 720']
['IELTS Score', ' 7.0']
['Previous University', ' University of ABC']
['']
['Student Name', ' Sarah Adams']
['Title', ' Ms.']
['Highest Education', ' Bachelor of Science in Chemistry']
['GMAT Score', ' 650']
['IELTS Score', ' 7.5']
['Previous University', ' State College']
['']
['Student Name', ' David Lee']
['Title', ' Mr.']
['Highest Education', ' Bachelor of Engineering in Mechanical Engineering']
['GMAT Score', ' 700']
['IELTS Score', ' 7.0']
['Previous University', ' University of DEF']