In [327]:
import pandas as pd
import re

import matplotlib.pyplot as plt


# pd.set_option('display.max_columns', None)

In [328]:
df = pd.read_csv('movies_data.csv')
df.head()

,MOVIES,YEAR,GENRE,RATING,ONE-LINE,STARS,VOTES,RunTime,Gross
0,Blood Red Sky,(2021),"\nAction, Horror, Thriller",6.1,\nA woman with a mysterious illness is forced ...,\n Director:\nPeter Thorwarth\n| \n Star...,"21,062",121.0,NaN
1,Masters of the Universe: Revelation,(2021– ),"\nAnimation, Action, Adventure",5.0,\nThe war for Eternia begins again in what may...,"\n \n Stars:\nChris Wood, \nSara...","17,870",25.0,NaN
2,The Walking Dead,(2010–2022),"\nDrama, Horror, Thriller",8.2,\nSheriff Deputy Rick Grimes wakes up from a c...,"\n \n Stars:\nAndrew Lincoln, \n...","885,805",44.0,NaN
3,Rick and Morty,(2013– ),"\nAnimation, Adventure, Comedy",9.2,\nAn animated series that follows the exploits...,"\n \n Stars:\nJustin Roiland, \n...","414,849",23.0,NaN
4,Army of Thieves,(2021),"\nAction, Crime, Horror",NaN,"\nA prequel, set before the events of Army of ...",\n Director:\nMatthias Schweighöfer\n| \n ...,NaN,NaN,NaN

In [329]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9999 entries, 0 to 9998
Data columns (total 9 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   MOVIES    9999 non-null   object
 1   YEAR      9355 non-null   object
 2   GENRE     9919 non-null   object
 3   RATING    8179 non-null   float64
 4   ONE-LINE  9999 non-null   object
 5   STARS     9999 non-null   object
 6   VOTES     8179 non-null   object
 7   RunTime   7041 non-null   float64
 8   Gross     460 non-null    object
dtypes: float64(2), object(7)
memory usage: 703.2+ KB

In [330]:
# df.describe()

In [331]:
# df.nunique()

In [332]:
# df.isna().sum()

In [333]:
# df.shape

In [334]:
# df.columns

In [335]:
# Converting all the header name into lower case
df.columns = [x.lower() for x in df.columns]
df.columns

Index(['movies', 'year', 'genre', 'rating', 'one-line', 'stars', 'votes',
       'runtime', 'gross'],
      dtype='object')

## Data Cleaning

In [336]:
df.head()

,movies,year,genre,rating,one-line,stars,votes,runtime,gross
0,Blood Red Sky,(2021),"\nAction, Horror, Thriller",6.1,\nA woman with a mysterious illness is forced ...,\n Director:\nPeter Thorwarth\n| \n Star...,"21,062",121.0,NaN
1,Masters of the Universe: Revelation,(2021– ),"\nAnimation, Action, Adventure",5.0,\nThe war for Eternia begins again in what may...,"\n \n Stars:\nChris Wood, \nSara...","17,870",25.0,NaN
2,The Walking Dead,(2010–2022),"\nDrama, Horror, Thriller",8.2,\nSheriff Deputy Rick Grimes wakes up from a c...,"\n \n Stars:\nAndrew Lincoln, \n...","885,805",44.0,NaN
3,Rick and Morty,(2013– ),"\nAnimation, Adventure, Comedy",9.2,\nAn animated series that follows the exploits...,"\n \n Stars:\nJustin Roiland, \n...","414,849",23.0,NaN
4,Army of Thieves,(2021),"\nAction, Crime, Horror",NaN,"\nA prequel, set before the events of Army of ...",\n Director:\nMatthias Schweighöfer\n| \n ...,NaN,NaN,NaN

## Year

In [337]:
df['genre'] = df['genre'].astype(str)

df['movies_g'] = df['genre'].apply(lambda x: "".join(x.strip().replace(" ","").split('\n')))

In [338]:
df['movies_g']

0           Action,Horror,Thriller
1       Animation,Action,Adventure
2            Drama,Horror,Thriller
3       Animation,Adventure,Comedy
4              Action,Crime,Horror
                   ...
9994       Adventure,Drama,Fantasy
9995    Animation,Action,Adventure
9996             Documentary,Sport
9997       Adventure,Drama,Fantasy
9998       Adventure,Drama,Fantasy
Name: movies_g, Length: 9999, dtype: object

## one line

In [339]:
df['one-line'] = df['one-line'].astype(str)

In [340]:
df['oneline'] = df['one-line'].apply(lambda x: x.strip())

## director

In [341]:
df['stars'] = df['stars'].astype(str)

In [342]:
####key information

df.head(6)['stars'].values

array(['\n    Director:\nPeter Thorwarth\n| \n    Stars:\nPeri Baumeister, \nCarl Anton Koch, \nAlexander Scheer, \nKais Setti\n',
       '\n            \n    Stars:\nChris Wood, \nSarah Michelle Gellar, \nLena Headey, \nMark Hamill\n',
       '\n            \n    Stars:\nAndrew Lincoln, \nNorman Reedus, \nMelissa McBride, \nLauren Cohan\n',
       '\n            \n    Stars:\nJustin Roiland, \nChris Parnell, \nSpencer Grammer, \nSarah Chalke\n',
       '\n    Director:\nMatthias Schweighöfer\n| \n    Stars:\nMatthias Schweighöfer, \nNathalie Emmanuel, \nRuby O. Fee, \nStuart Martin\n',
       '\n            \n    Stars:\nChase Stokes, \nMadelyn Cline, \nMadison Bailey, \nJonathan Daviss\n'],
      dtype=object)

In [343]:
df['all_stars_director'] =  df['stars'].apply(lambda x: x.split('|')[0].strip())

In [344]:
df['all_stars_director']

0                              Director:\nPeter Thorwarth
1       Stars:\nChris Wood, \nSarah Michelle Gellar, \...
2       Stars:\nAndrew Lincoln, \nNorman Reedus, \nMel...
3       Stars:\nJustin Roiland, \nChris Parnell, \nSpe...
4                        Director:\nMatthias Schweighöfer
                              ...
9994    Stars:\nMorgan Taylor Campbell, \nChris Cope, ...
9995
9996                     Director:\nOrlando von Einsiedel
9997                          Director:\nJovanka Vuckovic
9998                          Director:\nJovanka Vuckovic
Name: all_stars_director, Length: 9999, dtype: object

In [345]:
def to_get_director(items):
        if items is not None and'Director' in items:
            directors = items.split('\n')[1]
            return directors
        else:
            pass
    
a = to_get_director("Stars:\nPeri Baumeister, \nCarl Anton Koch, \nAlexander Scheer, \nKais Setti") 
print(a)

None

In [346]:
df['all_stars_director_'] = df['all_stars_director'].apply(to_get_director)

In [347]:
# Using pd.isna() or pd.isnull() to check for missing values
df_m = df.loc[pd.isna(df['all_stars_director_'])]
df_m.head(2)

,movies,year,genre,rating,one-line,stars,votes,runtime,gross,movies_g,oneline,all_stars_director,all_stars_director_
1,Masters of the Universe: Revelation,(2021– ),"\nAnimation, Action, Adventure",5.0,\nThe war for Eternia begins again in what may...,"\n \n Stars:\nChris Wood, \nSara...","17,870",25.0,NaN,"Animation,Action,Adventure",The war for Eternia begins again in what may b...,"Stars:\nChris Wood, \nSarah Michelle Gellar, \...",None
2,The Walking Dead,(2010–2022),"\nDrama, Horror, Thriller",8.2,\nSheriff Deputy Rick Grimes wakes up from a c...,"\n \n Stars:\nAndrew Lincoln, \n...","885,805",44.0,NaN,"Drama,Horror,Thriller",Sheriff Deputy Rick Grimes wakes up from a com...,"Stars:\nAndrew Lincoln, \nNorman Reedus, \nMel...",None

In [348]:
df['all_stars_director_'] = df['all_stars_director_'].fillna('None')

## stars

In [349]:
df.head(3)['stars'].values

array(['\n    Director:\nPeter Thorwarth\n| \n    Stars:\nPeri Baumeister, \nCarl Anton Koch, \nAlexander Scheer, \nKais Setti\n',
       '\n            \n    Stars:\nChris Wood, \nSarah Michelle Gellar, \nLena Headey, \nMark Hamill\n',
       '\n            \n    Stars:\nAndrew Lincoln, \nNorman Reedus, \nMelissa McBride, \nLauren Cohan\n'],
      dtype=object)

In [350]:
## to get the stars
def to_get_stars(item):
    #confirm if the pattern match, stars is the item being looked for
    #r is the raw string
    stars_result = re.search(r'Stars:\s*([\s\S]*?)(?:\n\n|$)', item)
    
    if stars_result:
    # the group calls the extracts the content of the first capturing group
        stars_info = stars_result.group(1)
        stars_list = [star.strip() for star in stars_info.split(', \n')]
        
        #seperate the list to a string
        stars = ",".join(stars_list)
        return stars
    else:
        pass

a = to_get_stars("\n    Director:\nPeter Thorwarth\n| \n    Stars:\nPeri Baumeister, \nCarl Anton Koch, \nAlexander Scheer, \nKais Setti\n")
print(a)

Peri Baumeister,Carl Anton Koch,Alexander Scheer,Kais Setti

In [351]:
df['all_stars'] = df['stars'].apply(to_get_stars)

In [352]:
#calculating the average mean of the ratings and fill the null values with the mean
df['all_stars'] = df['all_stars'].fillna('None')

## votes

In [353]:
df['votes'] = df['votes'].str.replace(",","")

In [354]:
df['votes'] = df['votes'].fillna(0).astype(int)

## gross

In [355]:
#delete column cuz its not relevamt and data points are few
df['gross'].notna().sum()

460

## one line

In [356]:
df['one-line'] = df['one-line'].apply(lambda x: x.strip())

In [357]:
#delete column cuz its not relevamt and data points are few
df['runtime'].notna().sum()

7041

## runtime

In [358]:
df['runtime'] = df['runtime'].fillna(0).astype(int)

## rating

In [359]:
df['rating'] = df['rating'].fillna(0).astype(float)

## year

## drop

In [360]:
#dropping the columns
df.drop(['year','genre', 'stars','gross', 'all_stars_director', 'year'], axis = 1, inplace = True)

In [361]:
df.head(2)

,movies,rating,one-line,votes,runtime,movies_g,oneline,all_stars_director_,all_stars
0,Blood Red Sky,6.1,A woman with a mysterious illness is forced in...,21062,121,"Action,Horror,Thriller",A woman with a mysterious illness is forced in...,Peter Thorwarth,"Peri Baumeister,Carl Anton Koch,Alexander Sche..."
1,Masters of the Universe: Revelation,5.0,The war for Eternia begins again in what may b...,17870,25,"Animation,Action,Adventure",The war for Eternia begins again in what may b...,None,"Chris Wood,Sarah Michelle Gellar,Lena Headey,M..."

## duplicates

In [362]:
duplicate_rows = df[df.duplicated()]

# Print the duplicate rows
duplicate_rows.head(5)

,movies,rating,one-line,votes,runtime,movies_g,oneline,all_stars_director_,all_stars
6833,Mighty Little Bheem,0.0,Add a Plot,0,0,"Animation,Short,Adventure",Add a Plot,"Rajiv Chilaka,",None
6835,Mighty Little Bheem,9.0,Add a Plot,6,0,"Animation,Short,Adventure",Add a Plot,"Rajiv Chilaka,",None
6836,Mighty Little Bheem,9.0,Add a Plot,6,0,"Animation,Short,Adventure",Add a Plot,"Rajiv Chilaka,",None
6837,Mighty Little Bheem,0.0,Add a Plot,0,0,"Animation,Short,Adventure",Add a Plot,"Rajiv Chilaka,",None
6838,Mighty Little Bheem,0.0,Add a Plot,0,0,"Animation,Short,Adventure",Add a Plot,"Rajiv Chilaka,",None

In [363]:
#confirming the duplicates again
df_loc = df.loc[(df['all_stars_director_'] == 'Baran bo Odar') & (df['movies_g'] == 'Drama,History,Horror')]
df_loc.head()

,movies,rating,one-line,votes,runtime,movies_g,oneline,all_stars_director_,all_stars
9443,1899,0.0,Add a Plot,0,0,"Drama,History,Horror",Add a Plot,Baran bo Odar,"Aneurin Barnard,Anton Lesser,Mathilde Ollivier..."
9980,1899,0.0,Add a Plot,0,0,"Drama,History,Horror",Add a Plot,Baran bo Odar,None
9981,1899,0.0,Add a Plot,0,0,"Drama,History,Horror",Add a Plot,Baran bo Odar,None
9982,1899,0.0,Add a Plot,0,0,"Drama,History,Horror",Add a Plot,Baran bo Odar,None
9989,1899,0.0,Add a Plot,0,0,"Drama,History,Horror",Add a Plot,Baran bo Odar,None

#### drop the duplicates

In [364]:
df_clean = df.drop_duplicates()

In [365]:
df_clean.to_csv('cleaned_movies.csv')