In [43]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

In [44]:
URL = "https://www.livescores.com/football/england/premier-league/?tz=1"
page = requests.get(URL)

In [45]:
soup = BeautifulSoup(page.content, 'lxml')

In [48]:
headers = [header.text for header in table.select('thead tr th')]

results = [{headers[i]: cell.text for i, cell in enumerate(row.findAll("td"))} for row in table.select("tbody tr")]
headers

['#',
 'Team name',
 'PPlayed',
 'WWins',
 'DDraws',
 'LLosses',
 'FGoals For',
 'AGoals Against',
 'GDGoals Difference',
 'PtsPoints']

In [61]:
df = pd.DataFrame(results)
df

,#,Team name,PPlayed,WWins,DDraws,LLosses,FGoals For,AGoals Against,GDGoals Difference,PtsPoints
0,1Champions League,Arsenal,14,12,1,1,33,11,22,37
1,2Champions League,Manchester City,14,10,2,2,40,14,26,32
2,3Champions League,Newcastle United,15,8,6,1,29,11,18,30
3,4Champions League,Tottenham Hotspur,15,9,2,4,31,21,10,29
4,5Europa League,Manchester United,14,8,2,4,20,20,0,26
5,6,Liverpool,14,6,4,4,28,17,11,22
6,7,Brighton & Hove Albion,14,6,3,5,23,19,4,21
7,8,Chelsea,14,6,3,5,17,17,0,21
8,9,Fulham,15,5,4,6,24,26,-2,19
9,10,Brentford,15,4,7,4,23,25,-2,19
10,11,Crystal Palace,14,5,4,5,15,18,-3,19
11,12,Aston Villa,15,5,3,7,16,22,-6,18
12,13,Leicester City,15,5,2,8,25,25,0,17
13,14,AFC Bournemouth,15,4,4,7,18,32,-14,16
14,15,Leeds United,14,4,3,7,22,26,-4,15
15,16,West Ham United,15,4,2,9,12,17,-5,14
16,17,Everton,15,3,5,7,11,17,-6,14
17,18Relegation,Nottingham Forest,15,3,4,8,11,30,-19,13
18,19Relegation,Southampton,15,3,3,9,13,27,-14,12
19,20Relegation,Wolverhampton Wanderers,15,2,4,9,8,24,-16,10